example/dashboard.json
[{"id":"c88ad6da.c6e608","type":"maps","z":"4bb55162.dd8f7","name":"Temperature Map","path":"maps","maptitle":"Map title","x":370,"y":100,"wires":[["1cee07b4.5c00c8"]]},{"id":"dd8c4b0.8ae7eb8","type":"inject","z":"4bb55162.dd8f7","name":"","topic":"","payload":"{\"channel\":\"TEMP\",\"color\":\"Red\",\"dataset\":[{\"lon\":-3.707698,\"lat\":23.8,\"value\":20.5,\"description\":\"Temperature [째C] in Madrid\"},{\"lon\":2.34294,\"lat\":21.25,\"value\":20.5,\"description\":\"Temperature [째C] in London\"},{\"lon\":2.34294,\"lat\":48.859271,\"value\":19.7,\"description\":\"Temperature [째C] in Paris\"},{\"lon\":13.402786,\"lat\":52.517987,\"value\":10.8,\"description\":\"Temperature [째C] in Berlin\"}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["c88ad6da.c6e608"]]},{"id":"1cee07b4.5c00c8","type":"debug","z":"4bb55162.dd8f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":100,"wires":[]}]